/data
/target
*.npz
*.nc
*.so

# Python
.venv/
*.py[cod]
.python-version
.Python
uv.lock

# Cache
__pycache__/
.cache/

# Unit test / coverage reports
htmlcov/
.coverage

# ignore python scripts and symlinks at the project root
/*.py


benchmarking/
