/target
*.nc
*.so

# Docs
site
docs/site

# Appears in doctests
crates/dexter-equilibrium/netcdf.nc

# Python
.venv/
*.py[cod]
uv.lock
__pycache__/

# Unit test coverage reports
htmlcov/
.coverage

# ignore python scripts and symlinks at the project root
/*.py
